{% extends 'core/base.html' %}
{% load static %}

{% block content %}


<div class="alert alert-primary text-center mx-auto" style="max-width: 720px;" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {% if post.user.profile.profile_image %}
                <img src="{{ post.user.profile.profile_image.url }}"
                     alt="{{ post.user.profile.user.username }}"
                     width=50 height=50 class="rounded-circle">
                {% else %}
                <img src="{% static 'images/default_avatar.png' %}" alt="{{ profile.user.username }}"
                     width=50 height=50>
                {% endif %}
            </div>
            <div class="col-10">

                {{ post.body }}<br>
                <small class="text-muted">
                    {{ post.created_at }} By
                    <a href="{% url 'profile' post.user.id %}"><b>@{{ post.user.username }}</b></a>
                    - {{ post.count_likes }}
                    {% if post.count_likes == 1 %}
                    like
                    {% else %}
                    likes
                    {% endif %}
                    {% if user in post.likes.all %}
                    &nbsp;<a href="{% url 'post_like' post.id %}"><i class="fa-solid fa-heart"
                                                                     style="color: #ff0000;"></i></a>
                    {% else %}
                    &nbsp;<a href="{% url 'post_like' post.id %}"><i class="fa-regular fa-heart"
                                                                     style="color: #ff0000;"></i></a>
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
    {% for comment in comments %}
    {% if request.user.username != comment.user.username %}
    <div class="d-flex" style="background:white;border-radius: 15px;margin:15px;padding:15px;text-align: start;">
        <div>
            {% if comment.user.profile.profile_image %}

            <img src="{{ comment.user.profile.profile_image.url }}"
                 alt="{{ comment.user.profile.user.username }}"
                 width=50 height=50 class="rounded-circle">
            {% else %}
            <img src="{% static 'images/default_avatar.png' %}"
                 width=50 height=50>
            {% endif %}
        </div>
        <div style="margin-left: 10px;max-width:260px;">
            {{ comment.content }}<br>
            <small class="text-muted">
                By <a href="{% url 'profile' comment.user.id %}">
                <b>@{{ comment.user.username }}</b></a> {{ comment.created_at }}<br>
                {{ comment.count_likes }}
                {% if comment.count_likes == 1 %}
                like
                {% else %}
                likes
                {% endif %}
                {% if user in comment.likes.all %}
                &nbsp;<a href="{% url 'comment_like' comment.id %}"><i class="fa-solid fa-heart"
                                                                       style="color: #ff0000;"></i></a>
                {% else %}
                &nbsp;<a href="{% url 'comment_like' comment.id %}"><i class="fa-regular fa-heart"
                                                                       style="color: #ff0000;"></i></a>
                {% endif %}
                {% if request.user.id == post.user.id %}
                &nbsp;<a href="{% url 'delete_comment' comment.id %}"><i class="fa-duotone fa-solid fa-trash"></i></a>
                {% endif %}
            </small></div>
    </div>
    {% else %}
    <div class="d-flex justify-content-end"
         style="background:white;border-radius: 15px;margin:15px;padding:15px;text-align: start;">
        <div>
            {% if comment.user.profile.profile_image %}

            <img src="{{ comment.user.profile.profile_image.url }}"
                 alt="{{ comment.user.profile.user.username }}"
                 width=50 height=50 class="rounded-circle">
            {% else %}
            <img src="{% static 'images/default_avatar.png' %}"
                 width=50 height=50>
            {% endif %}
        </div>
        <div style="margin-left: 10px;max-width:260px;">
            {{ comment.content }}<br>
            <small class="text-muted">
                By <a href="{% url 'profile' comment.user.id %}">
                <b>@{{ comment.user.username }}</b></a> {{ comment.created_at }}<br>
                {{ comment.count_likes }}
                {% if comment.count_likes == 1 %}
                like
                {% else %}
                likes
                {% endif %}
                {% if user in comment.likes.all %}
                &nbsp;<a href="{% url 'comment_like' comment.id %}"><i class="fa-solid fa-heart"
                                                                       style="color: #ff0000;"></i></a>
                {% else %}
                &nbsp;<a href="{% url 'comment_like' comment.id %}"><i class="fa-regular fa-heart"
                                                                       style="color: #ff0000;"></i></a>
                {% endif %}
                &nbsp;<a href="{% url 'delete_comment' comment.id %}"><i class="fa-duotone fa-solid fa-trash"></i></a>
            </small>
        </div>
    </div>
    {% endif %}

    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">Comment</button>
    </form>
</div>


{% endblock %}
