{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="btn-group" style="margin-left: 235px;">
    <a href="{% url 'home' %}" class="btn btn-primary active" aria-current="page">All Posts</a>
    <a href="{% url 'posts_follows' %}" class="btn btn-primary">Follows</a>
</div>
<br><br>
{% endif %}

{% for post in posts %}
{% if request.user.id != post.user.id %}


<div class="alert alert-primary mx-auto" style="max-width: 830px;" role="alert">
    <div class="container">
        <div class="d-flex">

            <div class="col-1">

                {% if post.user.profile.profile_image %}
                <a href="{% url 'profile' post.user.id %}">
                    <img src="{{ post.user.profile.profile_image.url }}"
                         alt="{{ post.user.profile.user.username }}"
                         width="50" height="50" class="rounded-circle">
                </a>
                {% else %}
                <a href="{% url 'profile' post.user.id %}">
                    <img src="{% static 'images/default_avatar.png' %}" alt="{{ profile.user.username }}"
                         width="50" height="50">
                </a>
                {% endif %}

            </div>

            <div class="col-10">
                <a href="{% url 'profile' post.user.id %}">
                    <b>{{ post.user.username }}</b></a><br>
                <a href="{% url 'post_show' post.id %}" style="color: inherit;text-decoration: none;">
                    {{ post.body }}</a><br>
                {% if post.image %}
                <br>
                <img class="rounded" src="{{ post.image.url }}" alt="Image"
                     style="max-width: 100%; height: auto; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); cursor: pointer;"
                     onclick="this.requestFullscreen()"><br>
                <br>
                {% endif %}
                {% if post.video %}
                <br>
                <video controls style="max-width: 100%">
                    <source src="{{ post.video.url }}" type="video/mp4">
                </video>
                <br>
                {% endif %}
                <small class="text-muted">
                    {{ post.created_at }}
                    - {{ post.count_likes }}
                    {% if post.count_likes == 1 %}
                    like
                    {% else %}
                    likes
                    {% endif %}
                    {% if user in post.likes.all %}
                    &nbsp;<a href="{% url 'post_like' post.id %}"><i class="fa-solid fa-heart"
                                                                     style="color: #ff0000;"></i></a>
                    {% else %}
                    &nbsp;<a href="{% url 'post_like' post.id %}"><i class="fa-regular fa-heart"
                                                                     style="color: #ff0000;"></i></a>
                    {% endif %}
                    &nbsp;-
                    {{ post.total_comments_and_replies }}
                    {% if post.total_comments_and_replies == 1 %}
                    comment
                    {% else %}
                    comments
                    {% endif %}
                    &nbsp;<a href="{% url 'post_show' post.id %}"><i class="fa-duotone fa-solid fa-comment"></i></a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endfor %}
{% endblock %}
