{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% if profile %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">
            {% if request.user.username != profile.user.username %}
            <h1>{{ profile.user.username }}'s Profile</h1>
            {% else %}
            <h1>Your Profile</h1>
            {% endif %}
            <br><br>
            {% if posts %}
            {% for post in posts %}

            <div class="alert alert-primary" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            {% if profile.profile_image %}
                            <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }}" width=50
                                 height=50
                                 class="rounded-circle">
                            {% else %}
                            <img src="{% static 'images/default_avatar.png' %}" alt="{{ profile.user.username }}"
                                 width=50 height=50>
                            {% endif %}
                        </div>
                        <div class="col-10">

                            <a href="{% url 'post_show' post.id %}" style="color: inherit;text-decoration: none;">
                                {{ post.body }}</a><br>
                            <small class="text-muted">
                                {{ post.created_at }}
                                - {{ post.count_likes }}
                                {% if post.count_likes == 1 %}
                                like
                                {% else %}
                                likes
                                {% endif %}
                                {% if user in post.likes.all %}
                                &nbsp;<a href="{% url 'post_like' post.id %}"><i class="fa-solid fa-heart"
                                                                                 style="color: #ff0000;"></i></a>
                                {% else %}
                                &nbsp;<a href="{% url 'post_like' post.id %}"><i class="fa-regular fa-heart"
                                                                                 style="color: #ff0000;"></i></a>
                                {% endif %}
                                &nbsp;&nbsp;
                                {{ post.comment_count }}
                                {% if post.comment_count == 1 %}
                                comment
                                {% else %}
                                comments
                                {% endif %}
                                &nbsp;<a href="{% url 'post_show' post.id %}"><i
                                    class="fa-duotone fa-solid fa-comment"></i></a>

                                {% if request.user.username == profile.user.username %}
                                &nbsp;<a href="{% url 'edit_post' post.id %}"><i class="fas fa-edit"></i></a>
                                &nbsp;<a href="{% url 'delete_post' post.id %}"><i
                                    class="fa-duotone fa-solid fa-trash"></i></a>
                                {% endif %}
                            </small>


                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <br><br>

        <div class="col-4">
            <br><br><br>
            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" alt="" width=200 height=200 class="rounded-circle">
            <br><br>
            {% else %}
            <img src="{% static 'images/default_avatar.png' %}" alt="" width=200 height=200>
            <br><br>
            {% endif %}

            <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3><br>

            {% if profile.bio %}
            {% if profile.bio|length < 50 %}
            {{ profile.bio }}
            {% else %}
            <p align="justify">{{ profile.bio }}</p>
            {% endif %}<br><br>
            {% endif %}

            <div class="card text-center">
                <div class="card-header">
                    Follows
                </div>

                <div class="card-body">

                    <p class="card-text">
                        {% if profile.follows.all%}
                        {% for following in profile.follows.all|slice:3 %}

                        {% if request.user.id == following.user.id %}
                        <a href="{% url 'profile' following.user.id %}">@{{ following }} (You)</a><br>
                        {% else %}
                        <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                        {% if following not in user.profile.follows.all %}
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'follow' following.user.id %}">
                            <i class="fa fa-user-plus" aria-hidden="true" style="color: green;"></i></a><br>
                        {% else %}
                        <br>
                        {% endif %}
                        {% else %}
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'unfollow' following.user.id %}">
                            <i class="fas fa-user-times" style="color: #e60505;"></i></a><br>
                        {% else %}
                        <br>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <span class="card-text"><small class="text-body-secondary">No one</small></span>
                        {% endif %}

                    </p>

                </div>
                {% if profile.follows.all%}
                <div class="card-footer">
                    <strong><a href="{% url 'follows' profile.user.id %}">See All</a></strong>
                </div>
                {% endif %}

            </div>

            <br>

            <div class="card">
                <div class="card-header">
                    Followed By
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% if profile.followed_by.all %}
                        {% for following in profile.followed_by.all|slice:3 %}

                        {% if request.user.id == following.user.id %}
                        <a href="{% url 'profile' following.user.id %}">@{{ following }} (You)</a>
                        {% else %}
                        <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>
                        {% if following not in user.profile.follows.all %}

                        {% if request.user.is_authenticated %}
                        <a href="{% url 'follow' following.user.id %}">
                            <i class="fa fa-user-plus" aria-hidden="true" style="color: green;"></i></a><br>
                        {% else %}
                        <br>
                        {% endif %}
                        {% else %}
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'unfollow' following.user.id %}">
                            <i class="fas fa-user-times" style="color: #e60505;"></i></a><br>
                        {% else %}
                        <br>
                        {% endif %}

                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <span class="card-text"><small class="text-body-secondary">No one</small></span>
                        {% endif %}
                    </p>
                </div>
                {% if profile.followed_by.all%}
                <div class="card-footer">
                    <strong><a href="{% url 'followers' profile.user.id %}">See All</a></strong>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <br>
            {% if request.user.is_authenticated %}
            {% if user.profile.id != profile.id %}
            <form method="POST">
                {% csrf_token %}

                {% if profile in user.profile.follows.all %}

                <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
                    Unfollow @{{ profile.user.username }}
                </button>

                {% else %}

                <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
                    Follow @{{ profile.user.username }}
                </button>

                {% endif %}

            </form>
            {% endif %}
            {% endif %}

            {% if request.user.id == profile.user.id %}
            <a href="{% url 'update_user' %}" class="btn btn-outline-primary">Update Profile</a>
            {% endif %}
        </div>
    </div>

</div>


{% endblock %}