{% extends 'core/base.html' %}


{% block content %}

<div class="col-md6 offset-md-4">
    <h1>Update User</h1><br>

    <form method="post" action="{% url 'update_user' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <br>
        {{ profile_form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'update_password' %}" class="btn btn-secondary">Change Password</a>
    </form>

</div>

{% endblock %}