{% extends 'core/base.html' %}
{% load static %}

{% block content %}


<div class="alert alert-primary text-center mx-auto" style="max-width: 720px;" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {% if post.user.profile.profile_image %}
                <img src="{{ post.user.profile.profile_image.url }}"
                     alt="{{ post.user.profile.user.username }}"
                     width=50 height=50 class="rounded-circle">
                {% else %}
                <img src="{% static 'images/default_avatar.png' %}" alt="{{ profile.user.username }}"
                     width=50 height=50>
                {% endif %}
            </div>
            <div class="col-10">

                {{ post.body }}<br>
                <small class="text-muted">
                    {{ post.created_at }}
                    - {{ post.count_likes }}
                    {% if post.count_likes == 1 %}
                    like
                    {% else %}
                    likes
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
    <br>
            {% if form %}
            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}


                <button type="submit" class="btn btn-dark">Edit a post</button>
            </form>
            {% endif %}
</div>
{% endblock %}
